@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --sweet- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */

:root {
	/* Browser area before a page starts loading */
	--sweet-browser-before-load-background: #181b1e;

	/* Toolbars */
	--sweet-toolbar-background: #181b1e;	
	--sweet-toolbar-color: #C3C7D1;
	--sweet-toolbar-border-color: #0f1113;
	--sweet-inactive-toolbar-background: #181b1e;	
	--sweet-inactive-toolbar-border-color: #202020;

	/* Sidebar */
	--sweet-sidebar-background: #181b1e;
	--sweet-inactive-sidebar-background: #1b1f22;

	/* Popups */
	--sweet-menu-background: #181b1e;
	--sweet-menu-border-color: #0f1113;
	--sweet-popover-background: #181b1e;
	--sweet-popover-border-color: #0f1113;
	--sweet-popover-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	--sweet-popover-button-hover-background: #1b1f22;
	--sweet-popover-separator-color: rgba(0, 0, 0, 0.1);

	/* Header bar */
	--sweet-headerbar-background: linear-gradient(to top, #181b1e, #181b1e);
	--sweet-headerbar-border-color: #070707;
	--sweet-headerbar-box-shadow: inset 0 1px rgba(238, 238, 236, 0.07);
	--sweet-inactive-headerbar-background: linear-gradient(#181b1e, #181b1e);
	--sweet-inactive-headerbar-border-color: #202020;
	--sweet-inactive-headerbar-box-shadow: inset 0 1px rgba(238, 238, 236, 0.07);

	/* Buttons */	
	--sweet-button-background: linear-gradient(to top, #1c2023 2px, #1c2023);
	--sweet-button-border-color: #0f1113;
	--sweet-button-border-accent-color: #070707;	
	--sweet-button-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);	
	--sweet-button-hover-background: linear-gradient(to top, #1b1f22, #1b1f22 1px);	
	--sweet-button-active-background: linear-gradient(45deg,#ff005d, #ff8b26);
	--sweet-button-active-border-color: #0f1113;
	--sweet-button-active-border-accent-color: #000000;
	--sweet-button-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);	
	--sweet-button-disabled-background: #1b1f22;
	--sweet-button-disabled-border-color: #181b1e;
	--sweet-button-disabled-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
	--sweet-inactive-button-background: linear-gradient(#181b1e, #181b1e);
	--sweet-inactive-button-border-color: #181b1e;
	--sweet-inactive-button-box-shadow: inset 0 1px rgba(255, 255, 255, 0);
	--sweet-button-suggested-action-background: linear-gradient(to top, #485563 2px, #29323c);
	--sweet-button-suggested-action-border-color: #485563;
	--sweet-button-suggested-action-border-accent-color: #092444;;
	--sweet-button-suggested-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);
	--sweet-button-suggested-action-hover-background: linear-gradient(to top, #485563ec, #29323cec 1px);
	--sweet-button-suggested-action-active-background: #485563;
	--sweet-button-suggested-action-active-border-color: #485563;
	--sweet-button-suggested-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);	
	--sweet-button-destructive-action-background: linear-gradient(to top, #FF416C 2px, #FF4B2B);
	--sweet-button-destructive-action-border-color: #FF416C;
	--sweet-button-destructive-action-border-accent-color: #570b0e;
	--sweet-button-destructive-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);
	--sweet-button-destructive-action-hover-background: linear-gradient(to top, #FF416Cec, #FF4B2Bec 1px);
	--sweet-button-destructive-action-active-background: #FF416C;
	--sweet-button-destructive-action-active-border-color: #FF416C;
	--sweet-button-destructive-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);

	/* URL bar */
	--sweet-urlbar-background: linear-gradient(#1c2023, #1c2023);
	--sweet-urlbar-border-color: #0f1113;
	--sweet-urlbar-box-shadow: inset 0 0 0 1px rgba(21, 83, 158, 0);
	--sweet-urlbar-color: #C3C7D1;
	--sweet-inactive-urlbar-background: linear-gradient(#1b1f22, #1b1f22);
	--sweet-inactive-urlbar-border-color: #202020;
	--sweet-inactive-urlbar-box-shadow: none;
	--sweet-inactive-urlbar-color: #d6d6d6;
	--sweet-focused-urlbar-border-color: #F67E7D;
	--sweet-private-urlbar-background: #25003e;

	/* Tabs */
	--sweet-tabbar-tab-color: rgb(141, 144, 145);
	--sweet-tabbar-tab-hover-background: #181b1e;
	--sweet-tabbar-tab-hover-border-bottom-color: #0f1113;
	--sweet-tabbar-tab-hover-color: rgb(200, 200, 200);
	--sweet-tabbar-tab-active-background: #1A1E21;
	--sweet-tabbar-tab-active-border-bottom-color: #F67E7D;
	--sweet-tabbar-tab-active-color: #C3C7D1;
	--sweet-tabbar-tab-active-hover-background: #181b1e;
	--sweet-inactive-tabbar-tab-color: rgb(141, 144, 145);
	--sweet-inactive-tabbar-tab-active-background: #181b1e;
	--sweet-inactive-tabbar-tab-active-border-bottom-color: #F67E7D;
    --sweet-inactive-tabbar-tab-active-color: rgb(141, 144, 145);  
    
    --sweet-start-gradient-color: #ff005d;
    --sweet-end-gradient-color: #ff8b26;
}